<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <link rel="stylesheet" href="/notification.css">
</head>
<body>
    <header>
        <h1>Notifications</h1>
    </header>
    <main>
        <input type="hidden" id="user-id" value="<%= id %>">
        <div class="notification-list">
            <!-- Notifications will be inserted here by JavaScript -->
        </div>
    </main>
    <script src="/notification.js"></script>
</body>
</html>

